body {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    background: url("./assets/home.png") no-repeat;
}

.ancients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid white;
    position: relative;
}

.ancients-list:before {
    content: '1';
    position: absolute;
    font-family: Arial, sans-serif;
    top: 20px;
    left: 0px;
    color: white;
    font-size: 150px;
}

.ancient-first {
    cursor: pointer;
    width: 300px;
    height: 400px;
    background: url("./assets/Ancients/Azathoth.png") no-repeat center;
    background-size: cover;
}

.ancient-second {
    cursor: pointer;
    width: 300px;
    height: 400px;
    background: url("./assets/Ancients/Cthulthu.png") no-repeat center;
    background-size: cover;
}

.ancient-thirty {
    cursor: pointer;
    width: 300px;
    height: 400px;
    background: url("./assets/Ancients/ShubNiggurath.png") no-repeat center;
    background-size: cover;
}

.ancient-forty {
    cursor: pointer;
    width: 300px;
    height: 400px;
    background: url("./assets/Ancients/IogSothoth.png") no-repeat center;
    background-size: cover;
}



.difficult {
    display: none;
    position: relative;
    /*display: flex;*/
    flex-direction: column;
    margin: 30px 0 0 100px;
    color: gold;
    font-family: Arial, sans-serif;
    transition: 2s all;
}

.difficult:before {
    content: '2';
    position: absolute;
    font-family: Arial, sans-serif;
    top: -12px;
    left: -90px;
    color: white;
    font-size: 150px;
}

.difficult-item {
    text-align: center;
    margin-top: 20px;
    border: 2px solid white;
    width: 100px;
    cursor: pointer;
}

.active {
    border: 5px solid red;
}
.wrap-dif-desk {
    display: flex;
}

.desk_btn {
    display: none;
    font-family: Arial, sans-serif;
    color: orange;
    font-size: 30px;
    border: 2px solid gold;
    width: 300px;
    margin: 100px 0 0 400px;
    cursor: pointer;
    background: cadetblue;
    text-align: center;
    height: 40px;
}


.desk-js {
    width: 270px;
    height: 370px;
}

.desk-all {
    display: none;
    background: url("./assets/mythicCardBackground.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.desk {
    display: flex;
    /*justify-content: space-evenly;*/
}

.desk-tracker {
    /*background: #d118ee;*/
    /*opacity: 0.2;*/
    text-align: center;
    display: none;
}

h3 {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    color: #a2ff00;
    opacity: 1;
    font-size: 30px;
}

.item-desk {
    margin-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    width: 15px;
    height: 40px;
}

.greenOne, .greenTwo, .greenThree{
    margin-left: 0;
    background: green;
    /*border-radius: 50%;*/
}

.brownOne, .brownTwo, .brownThree {
    background: #967a2f;
    /*border-radius: 50%;*/
}

.blueOne, .blueTwo, .blueThree {
    background: blue;
    /*border-radius: 50%;*/
}